{% extends 'base.html'%}

{% load static %}


{% block content%}
<div class="container mt-4">
    
    <div class="row">
        
    
    
        <div class="col-md-2">
            <a href="{% url 'create-invoice' %}" class="btn btn-primary">Create invoice</a>
        </div>
 
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    
                </div>
                
            </div>
        

            <diV class="app-table">

                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Invoice number</th>
                            <th>Transaction ID</th>
                            <th>Payments Mode</th>
                            <th>Date</th>
    
                        </tr>
                        
                    </thead>
                    <tbody>
                        
                       {% for invoice in invoices %}
                        <tr>
                            <td>{{invoice.title}}</td>
                            <td>{{invoice.number}}</td>
                            <td>{{invoice.TransactionId}}</td>
                            <td>{{invoice.Payments}}</td>
                            <td>{{invoice.order}}</td>
    
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    

            </diV>


            


            

            

            

         
        </div>
        
    </div>
    
    </div>
</div>



{% endblock %}

