{% extends 'base.html'%}

{% load static %}


{% block content%}
<div class="container mt-4">
    
    <div class="row">
        
        {% comment %} <div class="col-md-10">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="">Products</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ol>
              </nav>
        </div> {% endcomment %}
    
        <div class="col-md-2">
            <a href="{% url 'create-invoice' %}" class="btn btn-primary">Create invoice</a>
        </div>
 
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                    {% comment %} <div class="form-group">
                        <input type="text" class="form-control" id="searchField" placeholder="Search">
                    </div> {% endcomment %}
                </div>
                
            </div>
        

            <diV class="app-table">

                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Invoice number</th>
                            <th>Transaction ID</th>
                            <th>Payments Mode</th>
                            <th>Date</th>
    
                        </tr>
                        
                    </thead>
                    <tbody>
                        
                       {% for invoice in invoices %}
                        <tr>
                            <td>{{invoice.title}}</td>
                            <td>{{invoice.number}}</td>
                            <td>{{invoice.TransactionId}}</td>
                            <td>{{invoice.Payments}}</td>
                            <td>{{invoice.order}}</td>
    
                            {% comment %} <td>
                                <a href="{% url 'product_edit' product.id %}"
                                 class="btn btn-secondary btn-sm">
                                 Edit</a>
                                </td> {% endcomment %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    

            </diV>


            


            

            

            

         
        </div>
        
    </div>
    
    </div>
</div>



{% endblock %}

