{% extends 'base.html'%}

{% load static %}


{% block content%}
<div class="container mt-4">
    
    <div class="row">
        
       
    
        <div class="col-md-2">
            <h2>All products </h2>
        </div>
 
        <div class="container">
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4">
                   
                </div>
                
            </div>
        

            <diV class="app-table">

                <table class="table table-stripped table-hover">
                    <thead>
                        <tr>
                            <th>Title </th>
                            <th>Quantity</th>
                            <th>Prince</th>
                            <th>Date</th>
                            <th>Invoice</th>
                            
                        </tr>
                        
                    </thead>
                    <tbody>
                        
                        <tr>
                            {% for product in products %}
                          <tr>
                        <td>{{product.title}}</td>
                       <td>{{product.quantity}}</td>
                    <td>{{product.currency}} {{products.price}}</td>
                    <td>{{product.order_date}}</td>
          <td>{{product.invoice.number}}</td>
        </tr>
          {% endfor %}
                        </tr>
                        
                    </tbody>
                </table>
    

            </diV>


            


            

            

            

         
        </div>
        
    </div>
    
    </div>
</div>



{% endblock %}

